{
  "openapi": "3.1.0",
  "info": {
    "title": "Formo Public API",
    "description": "REST API for managing Formo projects, analytics, alerts, boards, charts, contracts, segments, and AI chat.\n\n**Auth.** All endpoints require a workspace API key with the appropriate scopes — see `x-api-scopes`.\n\n**Response shape.** Successful responses return the resource directly (or `{ data: [...], total, page, size, has_more }` for paginated lists). HTTP status carries success/failure — there is no envelope wrapping success bodies.\n\n**Errors.** Every non-2xx response uses the `Error` envelope: `{ error: { code, message, doc_url, param?, details? } }`. Branch on the machine-readable `code` (see `ErrorCode` enum) and follow `doc_url` to the matching section of the [errors reference](https://docs.formo.so/api/errors).\n\n**Idempotency.** Pass an `Idempotency-Key` header on POST/PUT/PATCH/DELETE to make retries safe; the response is cached for 24 h and replayed on duplicate keys.",
    "version": "0.1.0",
    "contact": {
      "name": "Formo",
      "url": "https://formo.so"
    }
  },
  "servers": [
    {
      "url": "https://api.formo.so",
      "description": "API Server (boards, alerts, contracts, segments, profiles, query, import)"
    },
    {
      "url": "https://events.formo.so",
      "description": "Events Server (event ingestion)"
    }
  ],
  "security": [
    {
      "WorkspaceApiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "WorkspaceApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Workspace API key (e.g. `formo_xxx`). Create one in the Formo dashboard under Team Settings > API Keys."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Standard error envelope returned by every public API endpoint for any non-2xx response. The HTTP status code carries success/failure; the body provides a machine-readable `code`, a human-readable `message`, and a `doc_url` pointing at the matching section of the docs so agents can fetch context on the fly.",
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "doc_url"
            ],
            "properties": {
              "code": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error description. Wording may change between releases — branch on `code`, not `message`."
              },
              "doc_url": {
                "type": "string",
                "format": "uri",
                "description": "Link to the matching section of the errors reference at https://docs.formo.so/api/errors."
              },
              "param": {
                "type": "string",
                "description": "When the error pertains to a specific request field, the dotted path to that field (e.g. `body.trigger_filters.0.value`)."
              },
              "details": {
                "type": "object",
                "additionalProperties": true,
                "description": "Code-specific extra context. For `INVALID_VALIDATION_REQUEST` this is a `{ fieldPath: message }` map of every Zod validation failure."
              }
            }
          }
        },
        "required": [
          "error"
        ]
      },
      "ErrorCode": {
        "type": "string",
        "description": "Stable, enumerated error codes. New codes may be added in any release; clients should treat unknown codes as the closest matching HTTP status family.",
        "enum": [
          "INTERNAL_SERVER_ERROR",
          "INVALID_VALIDATION_REQUEST",
          "UNAUTHORIZED",
          "BAD_REQUEST",
          "FORBIDDEN",
          "NOT_FOUND",
          "CONFLICT",
          "INVALID_CHAIN_ID",
          "CONTEXT_LIMIT_EXCEEDED",
          "SERVICE_UNAVAILABLE",
          "TOO_MANY_REQUESTS",
          "IDEMPOTENCY_IN_PROGRESS",
          "INVALID_IDEMPOTENCY_KEY"
        ]
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "trigger_type": {
            "type": "string",
            "enum": [
              "event",
              "user"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "trigger_filters": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "operator": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "numericThreshold": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "value"
              ]
            }
          },
          "recipient": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "email",
                    "slack",
                    "webhook"
                  ]
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "type",
                "value"
              ]
            }
          },
          "project_id": {
            "type": "string"
          },
          "has_secret": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "trigger_type",
          "status",
          "project_id"
        ]
      },
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "project_id": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the board is publicly accessible"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "project_id",
          "enabled"
        ]
      },
      "StepFilterCondition": {
        "type": "object",
        "description": "A filter condition for an event property on a funnel step. The `op` field specifies the comparison operator and `value` is the value to compare against. For `in` and `notIn` operators the value is a pipe-delimited string (e.g. `\"metamask|rainbow|coinbase\"`).",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "equals",
              "notEquals",
              "in",
              "notIn",
              "gt",
              "gte",
              "lt",
              "lte",
              "startsWith",
              "endsWith",
              "includes"
            ],
            "description": "Comparison operator. Use `in` / `notIn` for multi-value matching (pipe-delimited value string)."
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The comparison value. For `in` / `notIn`, use a pipe-delimited string: `\"metamask|rainbow|coinbase\"`."
          }
        },
        "required": [
          "op",
          "value"
        ]
      },
      "FunnelStep": {
        "type": "object",
        "description": "A single step in a funnel or user-path flow.\n\n`type` and `event` are required. Any additional property key becomes a filter condition using the `StepFilterCondition` schema (e.g. `\"rdns\": { \"op\": \"equals\", \"value\": \"io.metamask\" }`).\n\nStandard filterable columns: `origin`, `device`, `browser`, `os`, `location`, `referrer`, `ref`, `utm_source`, `utm_medium`, `utm_campaign`, `utm_content`, `utm_term`. Any other key is treated as a JSON event property and extracted via `JSONExtractString(properties, '<key>')`.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "event",
              "track",
              "decoded_log"
            ],
            "description": "`event` — built-in page/connect/transaction events; `track` — custom tracked events; `decoded_log` — decoded smart-contract events."
          },
          "event": {
            "type": "string",
            "minLength": 1,
            "description": "Event name (e.g. `page`, `connect`, `transaction`, or a custom track event name)."
          }
        },
        "required": [
          "type",
          "event"
        ],
        "additionalProperties": {
          "$ref": "#/components/schemas/StepFilterCondition"
        }
      },
      "ConversionWindow": {
        "type": "object",
        "description": "Time window within which a user must complete all funnel steps (measured from Step 1). Defaults to 1 day if omitted.",
        "properties": {
          "value": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of time units."
          },
          "unit": {
            "type": "string",
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "description": "Time unit. `month` = 30 days, `week` = 7 days."
          }
        },
        "required": [
          "value",
          "unit"
        ]
      },
      "AnalyticsFilterCondition": {
        "type": "object",
        "description": "A single analytics filter condition. Use `in` / `notIn` with a pipe-delimited string value (e.g. `\"a|b|c\"`) for multi-value matches.",
        "properties": {
          "field": {
            "type": "string",
            "description": "Column to filter on. Standard session columns: `device`, `browser`, `os`, `location`, `referrer`, `ref`, `origin`, `utm_source`, `utm_medium`, `utm_campaign`, `utm_content`, `utm_term`. Track-event columns: `event`, `type`. Numeric event properties: `volume`, `revenue`, `points`."
          },
          "op": {
            "type": "string",
            "enum": [
              "equals",
              "notEquals",
              "greater",
              "less",
              "greaterOrEqual",
              "lessOrEqual",
              "in",
              "notIn"
            ],
            "description": "Comparison operator."
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              }
            ],
            "description": "Value to compare against. For `in` / `notIn`, pass a pipe-delimited string (e.g. `\"chrome|firefox\"`)."
          }
        },
        "required": [
          "field",
          "op",
          "value"
        ]
      },
      "RetentionUserFilter": {
        "type": "object",
        "description": "A user-level segment filter applied to the retention chart cohort.",
        "properties": {
          "field": {
            "type": "string",
            "description": "The user property to filter on (e.g. `device`, `browser`, `os`, `location`, `utm_source`, `utm_medium`, `utm_campaign`)."
          },
          "op": {
            "type": "string",
            "enum": [
              "equals",
              "notEquals",
              "in",
              "notIn",
              "gt",
              "gte",
              "lt",
              "lte",
              "startsWith",
              "endsWith",
              "includes"
            ],
            "description": "Comparison operator."
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The value to compare against."
          }
        },
        "required": [
          "field",
          "op",
          "value"
        ]
      },
      "ChartSettings": {
        "type": "object",
        "description": "Chart-type-specific configuration. The fields that apply depend on `chart_type`:\n\n- **funnel**: `funnelType`, `conversionWindow`, `breakdown`\n- **user_paths**: `startStep`, `endStep`, `maxSteps`, `nodesPerStep`, `conversionWindow`, `filters`\n- **retention**: `retentionFilter`, `retentionUserFilters`\n\nAll fields are optional at the schema level; see per-type validation rules for which are functionally required.",
        "properties": {
          "funnelType": {
            "type": "string",
            "enum": [
              "closed",
              "open"
            ],
            "default": "closed",
            "description": "**Funnel only.** `closed` — users must complete steps in strict order with no intervening events. `open` — users may complete steps in order but other events may occur between steps."
          },
          "conversionWindow": {
            "$ref": "#/components/schemas/ConversionWindow",
            "description": "**Funnel & user_paths.** Maximum time from Step 1 for a user to complete all steps."
          },
          "breakdown": {
            "type": "string",
            "enum": [
              "device",
              "browser",
              "os",
              "referrer",
              "ref",
              "utm_source",
              "utm_medium",
              "utm_campaign",
              "utm_term",
              "utm_content"
            ],
            "description": "**Funnel only.** Split each funnel bar by this dimension. The top categories are shown individually; the rest are collapsed into 'Others'."
          },
          "startStep": {
            "$ref": "#/components/schemas/FunnelStep",
            "description": "**user_paths — required.** The event where the user flow begins."
          },
          "endStep": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FunnelStep"
              },
              {
                "type": "null"
              }
            ],
            "description": "**user_paths — optional.** The event where the user flow ends. If `null` the flow is open-ended."
          },
          "maxSteps": {
            "type": "integer",
            "minimum": 2,
            "maximum": 10,
            "default": 3,
            "description": "**user_paths.** Maximum number of steps to show in the flow (2–10). Values above 10 are clamped to 10."
          },
          "nodesPerStep": {
            "type": "integer",
            "minimum": 2,
            "maximum": 10,
            "default": 5,
            "description": "**user_paths.** Maximum number of unique event nodes visible per step (2–10). Values above 10 are clamped to 10."
          },
          "filters": {
            "type": "string",
            "description": "**user_paths.** JSON-encoded string of additional filters applied to the path query."
          },
          "retentionFilter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FunnelStep"
              },
              {
                "type": "null"
              }
            ],
            "description": "**retention.** Event that qualifies a returning visit as 'retained'. If `null`, any event counts as a return."
          },
          "retentionUserFilters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RetentionUserFilter"
            },
            "description": "**retention.** Zero or more user-segment filters that narrow the cohort (e.g. only desktop users, only users from a specific UTM source)."
          }
        }
      },
      "CreateChartRequest": {
        "type": "object",
        "description": "Request body for creating a chart.",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "Project the chart belongs to."
          },
          "query": {
            "type": "string",
            "minLength": 1,
            "description": "SQL query that powers the chart.\n\n- **`funnel`** — pass `\"SELECT 1\"`; the actual query is auto-generated from `steps`.\n- **`retention`** — can be omitted or pass `\"\"`; data is fetched from the retention pipe directly.\n- **All other types** — required; must be a valid SQL string."
          },
          "chart_type": {
            "type": "string",
            "enum": [
              "table",
              "number",
              "funnel",
              "bar",
              "line",
              "pie",
              "stacked",
              "user_paths",
              "retention"
            ],
            "description": "Visualization type. Determines which other fields are required:\n\n| `chart_type` | Extra required fields |\n|---|---|\n| `table` | `query` |\n| `number` | `query` (must return 1 row × 1 column) |\n| `bar` | `query`, `x_axis`, `y_axis` (≥ 1) |\n| `line` | `query`, `x_axis`, `y_axis` (≥ 1) |\n| `pie` | `query`, `y_axis` (exactly 1) |\n| `stacked` | `query`, `x_axis`, `y_axis` (exactly 1), `group_by` |\n| `funnel` | `steps` (≥ 2), `query` placeholder `\"SELECT 1\"` |\n| `user_paths` | `query`, `settings.startStep` |\n| `retention` | none (`query` ignored) |"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "description": "Display name shown on the chart and board."
          },
          "description": {
            "type": "string",
            "description": "Optional description."
          },
          "x_axis": {
            "type": "string",
            "description": "Column name for the X axis. Required for `bar`, `line`, and `stacked`."
          },
          "y_axis": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Column name(s) used as Y axis metrics.\n\n- `bar` / `line` — at least 1 element required.\n- `pie` / `stacked` — exactly 1 element required."
          },
          "group_by": {
            "type": "string",
            "description": "Column to group / stack series by. Required for `stacked`."
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunnelStep"
            },
            "minItems": 2,
            "description": "Ordered list of funnel steps. Required for `funnel` (minimum 2 steps).\n\nEach element is a `FunnelStep` — add property filters as extra keys on the step object (e.g. `\"rdns\": { \"op\": \"equals\", \"value\": \"io.metamask\" }`)."
          },
          "settings": {
            "$ref": "#/components/schemas/ChartSettings"
          }
        },
        "required": [
          "projectId",
          "chart_type",
          "title"
        ]
      },
      "UpdateChartRequest": {
        "type": "object",
        "description": "Request body for updating an existing chart.",
        "properties": {
          "chartId": {
            "type": "string",
            "description": "ID of the chart to update."
          },
          "projectId": {
            "type": "string",
            "description": "Project the chart belongs to."
          },
          "query": {
            "type": "string",
            "minLength": 1,
            "description": "SQL query that powers the chart.\n\n- **`funnel`** — pass `\"SELECT 1\"`; the actual query is auto-generated from `steps`.\n- **`retention`** — can be omitted or pass `\"\"`; data is fetched from the retention pipe directly.\n- **All other types** — required; must be a valid SQL string."
          },
          "chart_type": {
            "type": "string",
            "enum": [
              "table",
              "number",
              "funnel",
              "bar",
              "line",
              "pie",
              "stacked",
              "user_paths",
              "retention"
            ],
            "description": "Visualization type. Determines which other fields are required:\n\n| `chart_type` | Extra required fields |\n|---|---|\n| `table` | `query` |\n| `number` | `query` (must return 1 row × 1 column) |\n| `bar` | `query`, `x_axis`, `y_axis` (≥ 1) |\n| `line` | `query`, `x_axis`, `y_axis` (≥ 1) |\n| `pie` | `query`, `y_axis` (exactly 1) |\n| `stacked` | `query`, `x_axis`, `y_axis` (exactly 1), `group_by` |\n| `funnel` | `steps` (≥ 2), `query` placeholder `\"SELECT 1\"` |\n| `user_paths` | `query`, `settings.startStep` |\n| `retention` | none (`query` ignored) |"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "description": "Display name shown on the chart and board."
          },
          "description": {
            "type": "string",
            "description": "Optional description."
          },
          "x_axis": {
            "type": "string",
            "description": "Column name for the X axis. Required for `bar`, `line`, and `stacked`."
          },
          "y_axis": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Column name(s) used as Y axis metrics.\n\n- `bar` / `line` — at least 1 element required.\n- `pie` / `stacked` — exactly 1 element required."
          },
          "group_by": {
            "type": "string",
            "description": "Column to group / stack series by. Required for `stacked`."
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunnelStep"
            },
            "minItems": 2,
            "description": "Ordered list of funnel steps. Required for `funnel` (minimum 2 steps).\n\nEach element is a `FunnelStep` — add property filters as extra keys on the step object (e.g. `\"rdns\": { \"op\": \"equals\", \"value\": \"io.metamask\" }`)."
          },
          "settings": {
            "$ref": "#/components/schemas/ChartSettings"
          }
        },
        "required": [
          "chartId",
          "projectId",
          "chart_type",
          "title"
        ]
      },
      "Chart": {
        "type": "object",
        "description": "A saved chart attached to a board.",
        "properties": {
          "id": {
            "type": "string"
          },
          "chart_type": {
            "type": "string",
            "enum": [
              "table",
              "number",
              "funnel",
              "bar",
              "line",
              "pie",
              "stacked",
              "user_paths",
              "retention"
            ],
            "description": "Visualization type."
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "query": {
            "type": "string",
            "description": "SQL query powering the chart. For `funnel` and `retention` charts this is a system-managed placeholder."
          },
          "project_id": {
            "type": "string"
          },
          "board_id": {
            "type": "string"
          },
          "x_axis": {
            "type": "string",
            "nullable": true,
            "description": "Column used as the X axis."
          },
          "y_axis": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Column(s) used as Y axis metric(s)."
          },
          "group_by": {
            "type": "string",
            "nullable": true,
            "description": "Column used to group/stack series."
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunnelStep"
            },
            "nullable": true,
            "description": "Ordered list of funnel steps. Only present when `chart_type` is `funnel`."
          },
          "settings": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ChartSettings"
              },
              {
                "type": "null"
              }
            ],
            "description": "Type-specific configuration. See `ChartSettings` for all fields."
          }
        },
        "required": [
          "id",
          "chart_type",
          "title",
          "query",
          "project_id",
          "board_id"
        ]
      },
      "Contract": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "chain": {
            "type": "integer"
          },
          "address": {
            "type": "string"
          },
          "start_block": {
            "type": "integer"
          },
          "abi": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "anonymous": {
                  "type": "boolean"
                },
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              },
              "required": [
                "anonymous",
                "inputs",
                "name",
                "type"
              ]
            }
          }
        },
        "required": [
          "name",
          "chain",
          "address",
          "abi",
          "events"
        ]
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "filterSet": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "title"
        ]
      },
      "Profile": {
        "type": "object",
        "description": "Comprehensive wallet profile with onchain and offchain data",
        "properties": {
          "address": {
            "type": "string"
          },
          "net_worth_usd": {
            "type": "number"
          },
          "tx_count": {
            "type": "integer"
          },
          "first_onchain": {
            "type": "string",
            "description": "First onchain activity date"
          },
          "last_onchain": {
            "type": "string",
            "description": "Last onchain activity date"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "ens": {
            "type": "string",
            "nullable": true
          },
          "farcaster": {
            "type": "string",
            "nullable": true
          },
          "lens": {
            "type": "string",
            "nullable": true
          },
          "basenames": {
            "type": "string",
            "nullable": true
          },
          "linea": {
            "type": "string",
            "nullable": true
          },
          "avatar": {
            "type": "string",
            "nullable": true
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "discord": {
            "type": "string",
            "nullable": true
          },
          "telegram": {
            "type": "string",
            "nullable": true
          },
          "twitter": {
            "type": "string",
            "nullable": true
          },
          "github": {
            "type": "string",
            "nullable": true
          },
          "linkedin": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "instagram": {
            "type": "string",
            "nullable": true
          },
          "facebook": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "reddit": {
            "type": "string",
            "nullable": true
          },
          "youtube": {
            "type": "string",
            "nullable": true
          },
          "tiktok": {
            "type": "string",
            "nullable": true
          },
          "first_seen": {
            "type": "string",
            "nullable": true,
            "description": "First seen in project"
          },
          "last_seen": {
            "type": "string",
            "nullable": true,
            "description": "Last seen in project"
          },
          "lifecycle": {
            "type": "string",
            "nullable": true,
            "enum": [
              "New",
              "Returning",
              "Power user",
              "Resurrected",
              "Churned"
            ]
          },
          "num_sessions": {
            "type": "integer",
            "nullable": true
          },
          "revenue": {
            "type": "number",
            "nullable": true
          },
          "volume": {
            "type": "number",
            "nullable": true
          },
          "points": {
            "type": "number",
            "nullable": true
          },
          "device": {
            "type": "string",
            "nullable": true
          },
          "browser": {
            "type": "string",
            "nullable": true
          },
          "os": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "first_utm_source": {
            "type": "string",
            "nullable": true
          },
          "first_utm_medium": {
            "type": "string",
            "nullable": true
          },
          "first_utm_campaign": {
            "type": "string",
            "nullable": true
          },
          "first_referrer": {
            "type": "string",
            "nullable": true
          },
          "last_utm_source": {
            "type": "string",
            "nullable": true
          },
          "last_utm_medium": {
            "type": "string",
            "nullable": true
          },
          "last_utm_campaign": {
            "type": "string",
            "nullable": true
          },
          "last_referrer": {
            "type": "string",
            "nullable": true
          },
          "first_referrer_url": {
            "type": "string",
            "nullable": true,
            "description": "First referrer full URL"
          },
          "last_referrer_url": {
            "type": "string",
            "nullable": true,
            "description": "Last referrer full URL"
          },
          "first_ref": {
            "type": "string",
            "nullable": true,
            "description": "First referral code"
          },
          "last_ref": {
            "type": "string",
            "nullable": true,
            "description": "Last referral code"
          },
          "first_utm_content": {
            "type": "string",
            "nullable": true,
            "description": "First UTM content"
          },
          "last_utm_content": {
            "type": "string",
            "nullable": true,
            "description": "Last UTM content"
          },
          "first_utm_term": {
            "type": "string",
            "nullable": true,
            "description": "First UTM term"
          },
          "last_utm_term": {
            "type": "string",
            "nullable": true,
            "description": "Last UTM term"
          },
          "last_type": {
            "type": "string",
            "nullable": true,
            "description": "Last event type"
          },
          "last_event": {
            "type": "string",
            "nullable": true,
            "description": "Last event name"
          },
          "last_properties": {
            "type": "string",
            "nullable": true,
            "description": "Last event properties (JSON string)"
          },
          "activity_dates": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            },
            "nullable": true,
            "description": "Array of activity dates (YYYY-MM-DD format)"
          },
          "chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletChain"
            },
            "description": "Requires expand=chains"
          },
          "apps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletApp"
            },
            "description": "Requires expand=apps"
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletToken"
            },
            "description": "Requires expand=tokens"
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletLabel"
            },
            "description": "Requires expand=labels"
          }
        }
      },
      "EventContext": {
        "type": "object",
        "description": "Contextual information about the event environment",
        "properties": {
          "user_agent": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "description": "e.g. en-US"
          },
          "timezone": {
            "type": "string",
            "description": "e.g. America/New_York"
          },
          "page_url": {
            "type": "string"
          },
          "page_path": {
            "type": "string"
          },
          "page_title": {
            "type": "string"
          },
          "page_query": {
            "type": "string"
          },
          "page_hash": {
            "type": "string"
          },
          "referrer_url": {
            "type": "string"
          },
          "referrer": {
            "type": "string"
          },
          "ref": {
            "type": "string"
          },
          "utm_source": {
            "type": "string"
          },
          "utm_medium": {
            "type": "string"
          },
          "utm_campaign": {
            "type": "string"
          },
          "utm_term": {
            "type": "string"
          },
          "utm_content": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          },
          "device": {
            "type": "string",
            "enum": [
              "desktop",
              "mobile",
              "tablet"
            ]
          },
          "os": {
            "type": "string"
          },
          "screen_width": {
            "type": "integer"
          },
          "screen_height": {
            "type": "integer"
          },
          "screen_density": {
            "type": "number",
            "description": "Pixel density of the device screen (devicePixelRatio)"
          },
          "viewport_width": {
            "type": "integer",
            "description": "Width of the browser viewport in pixels"
          },
          "viewport_height": {
            "type": "integer",
            "description": "Height of the browser viewport in pixels"
          },
          "location": {
            "type": "string",
            "description": "Geographic location country code (e.g., US, NG)"
          },
          "library_name": {
            "type": "string"
          },
          "library_version": {
            "type": "string"
          }
        }
      },
      "EventProperties": {
        "type": "object",
        "description": "Event-specific properties. Can contain any key-value pairs relevant to the event.",
        "additionalProperties": true
      },
      "Event": {
        "type": "object",
        "description": "A single analytics event",
        "required": [
          "type",
          "anonymous_id",
          "version",
          "channel",
          "message_id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "page",
              "screen",
              "connect",
              "disconnect",
              "chain",
              "signature",
              "transaction",
              "track",
              "decoded_log",
              "detect",
              "identify"
            ]
          },
          "channel": {
            "type": "string",
            "enum": [
              "web",
              "mobile",
              "server",
              "api",
              "import"
            ],
            "description": "Source of the event. The Formo Web SDK uses `web`; mobile SDK uses `mobile`; server SDK uses `server`. Use `api` for direct HTTP submissions and `import` for backfills."
          },
          "version": {
            "type": "string",
            "description": "SDK schema version. Web SDK 1.x emits `1`; legacy clients emit `0`.",
            "example": "1"
          },
          "anonymous_id": {
            "type": "string",
            "description": "Anonymous visitor identifier"
          },
          "user_id": {
            "type": "string",
            "nullable": true,
            "description": "Identified user ID"
          },
          "address": {
            "type": "string",
            "nullable": true,
            "description": "Wallet address"
          },
          "event": {
            "type": "string",
            "nullable": true,
            "description": "Event name (for track events)"
          },
          "context": {
            "$ref": "#/components/schemas/EventContext"
          },
          "properties": {
            "$ref": "#/components/schemas/EventProperties"
          },
          "original_timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "sent_at": {
            "type": "string",
            "format": "date-time"
          },
          "message_id": {
            "type": "string",
            "description": "Unique ID for deduplication"
          }
        }
      },
      "WalletChain": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string"
          },
          "net_worth_usd": {
            "type": "number"
          },
          "tx_count": {
            "type": "integer"
          },
          "first_onchain": {
            "type": "string"
          },
          "last_onchain": {
            "type": "string"
          }
        }
      },
      "WalletApp": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "img": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "balance_usd": {
            "type": "number"
          }
        }
      },
      "WalletToken": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string"
          },
          "token_address": {
            "type": "string"
          },
          "app_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "img": {
            "type": "string",
            "nullable": true
          },
          "decimals": {
            "type": "integer"
          },
          "price": {
            "type": "number"
          },
          "balance": {
            "type": "string"
          },
          "balance_usd": {
            "type": "number"
          }
        }
      },
      "WalletLabel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "e.g. coinbase.verified_account"
          },
          "value": {
            "type": "string"
          },
          "chain_id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        }
      },
      "UserLabelInput": {
        "type": "object",
        "required": [
          "tag_id"
        ],
        "properties": {
          "tag_id": {
            "type": "string",
            "description": "Label identifier (lowercased on write). e.g. vip, airdrop_eligible, coinbase.verified_account"
          },
          "value": {
            "type": "string",
            "description": "Optional label value (e.g. tier name, country code)"
          },
          "chain_id": {
            "type": "string",
            "description": "Optional chain identifier the label applies to"
          }
        }
      },
      "ProfileFilter": {
        "type": "object",
        "description": "Filter conditions for profile search",
        "properties": {
          "conditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterCondition"
            }
          },
          "logic": {
            "type": "string",
            "enum": [
              "and",
              "or"
            ],
            "default": "and"
          }
        }
      },
      "FilterCondition": {
        "type": "object",
        "required": [
          "field",
          "op",
          "value"
        ],
        "properties": {
          "field": {
            "type": "string",
            "description": "Field path. Profile: users.net_worth_usd, users.volume, users.revenue, users.points. Engagement: users.device, users.browser, users.os, users.location. Lifecycle: users.lifecycle. Socials: users.ens, users.farcaster, etc. Chains: chains.balance, chains.{chain_id}.balance. Apps: apps.{app_id}.balance. Tokens: tokens.{address}.balance. Labels: labels.{tag_id}"
          },
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "gt",
              "gte",
              "lt",
              "lte",
              "in",
              "nin"
            ]
          },
          "value": {
            "description": "Filter value (string, number, boolean, or array)"
          },
          "scope": {
            "type": "string",
            "enum": [
              "any",
              "protocol"
            ],
            "description": "For token filters: any=wallet+protocol, protocol=specific app"
          },
          "appId": {
            "type": "string",
            "description": "For token scope=protocol (e.g. aave-v3)"
          }
        }
      },
      "RestApiError": {
        "$ref": "#/components/schemas/Error",
        "description": "Deprecated alias for `Error`. Existing endpoint specs reference this name; new specs should reference `Error` directly."
      },
      "AnalyticsResponse": {
        "type": "object",
        "description": "Raw Tinybird pipe response. The `data` array contains the analytics rows; the exact row shape depends on the endpoint.",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "meta": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "rows": {
            "type": "integer"
          },
          "rows_before_limit_at_least": {
            "type": "integer"
          },
          "statistics": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 255
        },
        "description": "Optional unique value (e.g. a UUID v4) that lets you safely retry POST/PUT/PATCH/DELETE requests. The first request runs normally; subsequent requests with the same key replay the stored response (status + body) for 24 hours, so retries can never double-create or double-charge. Two concurrent requests with the same key return `409 IDEMPOTENCY_IN_PROGRESS`. Generate a fresh key per logical operation."
      },
      "AnalyticsDateFrom": {
        "name": "date_from",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "Inclusive start date (YYYY-MM-DD). Defaults to 7 days before date_to."
      },
      "AnalyticsDateTo": {
        "name": "date_to",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "Inclusive end date (YYYY-MM-DD). Defaults to today."
      },
      "AnalyticsFilters": {
        "name": "filters",
        "in": "query",
        "description": "Array of filter conditions, JSON-encoded in the query string. Each entry is `{ field, op, value }`. Use `in` / `notIn` with a pipe-delimited `value` (e.g. `\"chrome|firefox\"`) for multi-value matching.",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AnalyticsFilterCondition"
              }
            },
            "example": [
              {
                "field": "location",
                "op": "equals",
                "value": "US"
              },
              {
                "field": "device",
                "op": "in",
                "value": "desktop|mobile"
              }
            ]
          }
        }
      },
      "AnalyticsLimit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 50,
          "minimum": 1,
          "maximum": 1000
        },
        "description": "Maximum results to return (default 50, max 1000)"
      },
      "AnalyticsOffset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 0,
          "minimum": 0,
          "maximum": 100000
        },
        "description": "Number of results to skip for pagination (default 0)"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request was rejected — typically Zod validation failure. `code` is `INVALID_VALIDATION_REQUEST` and `details` contains a `{ fieldPath: message }` map.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "INVALID_VALIDATION_REQUEST",
                "message": "Invalid request data",
                "doc_url": "https://docs.formo.so/api/errors#invalid_validation_request",
                "details": {
                  "body.name": "String must contain at least 1 character(s)"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Invalid API key",
                "doc_url": "https://docs.formo.so/api/errors#unauthorized"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The API key is valid but lacks the required scope for this endpoint.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "FORBIDDEN",
                "message": "API key missing required scope: alerts:write",
                "doc_url": "https://docs.formo.so/api/errors#forbidden"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource does not exist or is not visible to this API key's workspace.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "Alert not found",
                "doc_url": "https://docs.formo.so/api/errors#not_found"
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicts with current resource state, or an `Idempotency-Key` request with the same key is currently in flight.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "IDEMPOTENCY_IN_PROGRESS",
                "message": "A request with this Idempotency-Key is already in progress. Retry shortly.",
                "doc_url": "https://docs.formo.so/api/errors#idempotency_in_progress"
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Per-workspace rate limit exceeded. Inspect the `RateLimit-*` response headers and back off.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "TOO_MANY_REQUESTS",
                "message": "Too many requests",
                "doc_url": "https://docs.formo.so/api/errors#too_many_requests"
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "An unexpected error occurred on the server. The error has been logged; retry with exponential backoff.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "INTERNAL_SERVER_ERROR",
                "message": "Internal Server Error",
                "doc_url": "https://docs.formo.so/api/errors#internal_server_error"
              }
            }
          }
        }
      }
    }
  },
  "x-api-scopes": {
    "description": "API key scopes control access to endpoints. Create keys with the required scopes in Team Settings > API Keys.",
    "scopes": {
      "alerts:read": "List and get alerts",
      "alerts:write": "Create, update, delete alerts (requires alerts:read)",
      "boards:read": "List and get boards and charts",
      "boards:write": "Create, update, delete boards and charts (requires boards:read)",
      "contracts:read": "List contracts",
      "contracts:write": "Create, update, delete contracts (requires contracts:read)",
      "segments:read": "List segments",
      "segments:write": "Create and delete segments (requires segments:read)",
      "profiles:read": "Search and get wallet profiles",
      "profiles:write": "Import wallet addresses (requires profiles:read)",
      "query:read": "Execute SQL analytics queries and read pre-built analytics endpoints (KPIs, top pages, lifecycle, retention, revenue, etc.)",
      "mcp:read": "MCP protocol access (analytics tools + management tools based on other scopes)"
    }
  },
  "paths": {
    "/v0/alerts": {
      "get": {
        "operationId": "listAlerts",
        "summary": "List alerts",
        "description": "List all alerts for the project scoped to the API key.",
        "tags": [
          "Alerts"
        ],
        "x-required-scope": "alerts:read",
        "responses": {
          "200": {
            "description": "List of alerts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alert"
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "alrt_4f8e2c1a9b3d4e5f",
                      "project_id": "proj_abc123",
                      "name": "Daily revenue drop",
                      "trigger_type": "event",
                      "status": "active",
                      "trigger_filters": [
                        {
                          "name": "event",
                          "operator": "equals",
                          "value": "transaction"
                        },
                        {
                          "name": "revenue",
                          "operator": "less_than",
                          "value": "1000",
                          "numericThreshold": "sum"
                        }
                      ],
                      "recipient": [
                        {
                          "type": "email",
                          "value": [
                            "alerts@myapp.com"
                          ]
                        },
                        {
                          "type": "slack",
                          "value": [
                            "C0123456789"
                          ]
                        }
                      ],
                      "has_secret": false,
                      "created_at": "2026-04-12T09:32:18.000Z",
                      "updated_at": "2026-04-25T14:01:55.000Z"
                    }
                  ],
                  "meta": {
                    "total": 1,
                    "limit": 50,
                    "offset": 0
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAlert",
        "summary": "Create alert",
        "description": "Create a new alert for the project.",
        "tags": [
          "Alerts"
        ],
        "x-required-scope": "alerts:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "trigger_type": {
                    "type": "string",
                    "enum": [
                      "event",
                      "user"
                    ]
                  },
                  "trigger_filters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "numericThreshold": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "value"
                      ]
                    }
                  },
                  "recipient": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "email",
                            "slack",
                            "webhook"
                          ]
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "secret": {
                    "type": "string",
                    "description": "Webhook signing secret"
                  }
                },
                "required": [
                  "name",
                  "trigger_type",
                  "trigger_filters"
                ]
              },
              "examples": {
                "eventAlertWithWebhook": {
                  "summary": "Alert on swap events from mobile devices with webhook",
                  "value": {
                    "name": "Mobile swap alert",
                    "trigger_type": "event",
                    "trigger_filters": [
                      {
                        "name": "type",
                        "value": "swap",
                        "operator": "equals"
                      },
                      {
                        "name": "device",
                        "value": "mobile",
                        "operator": "equals"
                      },
                      {
                        "name": "volume",
                        "value": "1000",
                        "operator": "greater",
                        "numericThreshold": "1000"
                      }
                    ],
                    "recipient": [
                      {
                        "type": "webhook",
                        "value": [
                          "https://hooks.myapp.com/formo-alerts"
                        ]
                      },
                      {
                        "type": "email",
                        "value": [
                          "alerts@myapp.com"
                        ]
                      }
                    ],
                    "secret": "whsec_mysigningsecret123"
                  }
                },
                "eventAlertWithUtmFilter": {
                  "summary": "Alert on events from specific UTM campaigns",
                  "value": {
                    "name": "Paid campaign activity",
                    "trigger_type": "event",
                    "trigger_filters": [
                      {
                        "name": "type",
                        "value": "purchase"
                      },
                      {
                        "name": "utm_source",
                        "value": "google",
                        "operator": "equals"
                      },
                      {
                        "name": "utm_medium",
                        "value": "cpc",
                        "operator": "equals"
                      }
                    ],
                    "recipient": [
                      {
                        "type": "slack",
                        "value": [
                          "#marketing-alerts|https://hooks.slack.com/services/T00/B00/xxx"
                        ]
                      }
                    ]
                  }
                },
                "userAlertWithLocationFilter": {
                  "summary": "Alert when new users spike from a specific country",
                  "value": {
                    "name": "US user spike",
                    "trigger_type": "user",
                    "trigger_filters": [
                      {
                        "name": "location",
                        "value": "US",
                        "operator": "equals"
                      },
                      {
                        "name": "net_worth_usd",
                        "value": "10000",
                        "operator": "greaterOrEqual",
                        "numericThreshold": "10000"
                      }
                    ],
                    "recipient": [
                      {
                        "type": "email",
                        "value": [
                          "team@myapp.com"
                        ]
                      }
                    ]
                  }
                },
                "eventAlertWithNumericThreshold": {
                  "summary": "Alert when users hold >5 tokens in a specific app",
                  "value": {
                    "name": "High token holder alert",
                    "trigger_type": "event",
                    "trigger_filters": [
                      {
                        "name": "apps",
                        "value": "uniswap",
                        "operator": "greater",
                        "numericThreshold": "5"
                      },
                      {
                        "name": "chains",
                        "value": "1",
                        "operator": "greaterOrEqual",
                        "numericThreshold": "3"
                      }
                    ],
                    "recipient": [
                      {
                        "type": "webhook",
                        "value": [
                          "https://hooks.myapp.com/token-alerts"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Alert created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          }
        }
      }
    },
    "/v0/alerts/{alertId}": {
      "get": {
        "operationId": "getAlert",
        "summary": "Get alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                },
                "example": {
                  "id": "alrt_4f8e2c1a9b3d4e5f",
                  "project_id": "proj_abc123",
                  "name": "Daily revenue drop",
                  "trigger_type": "event",
                  "status": "active",
                  "trigger_filters": [
                    {
                      "name": "event",
                      "operator": "equals",
                      "value": "transaction"
                    },
                    {
                      "name": "revenue",
                      "operator": "less_than",
                      "value": "1000",
                      "numericThreshold": "sum"
                    }
                  ],
                  "recipient": [
                    {
                      "type": "email",
                      "value": [
                        "alerts@myapp.com"
                      ]
                    },
                    {
                      "type": "slack",
                      "value": [
                        "C0123456789"
                      ]
                    }
                  ],
                  "has_secret": false,
                  "created_at": "2026-04-12T09:32:18.000Z",
                  "updated_at": "2026-04-25T14:01:55.000Z"
                }
              }
            }
          }
        },
        "x-required-scope": "alerts:read"
      },
      "put": {
        "operationId": "updateAlert",
        "summary": "Update alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "trigger_type": {
                    "type": "string",
                    "enum": [
                      "event",
                      "user"
                    ]
                  },
                  "trigger_filters": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "recipient": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "secret": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "trigger_type",
                  "trigger_filters"
                ]
              },
              "examples": {
                "updateRecipients": {
                  "summary": "Update alert recipients",
                  "value": {
                    "name": "Mobile swap alert (updated)",
                    "trigger_type": "event",
                    "trigger_filters": [
                      {
                        "name": "type",
                        "value": "swap"
                      },
                      {
                        "name": "device",
                        "value": "mobile"
                      }
                    ],
                    "recipient": [
                      {
                        "type": "webhook",
                        "value": [
                          "https://hooks.myapp.com/v2/alerts"
                        ]
                      },
                      {
                        "type": "slack",
                        "value": [
                          "#alerts|https://hooks.slack.com/services/T00/B00/new"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          }
        },
        "x-required-scope": "alerts:write"
      },
      "delete": {
        "operationId": "deleteAlert",
        "summary": "Delete alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number"
                }
              }
            }
          }
        },
        "x-required-scope": "alerts:write"
      },
      "patch": {
        "operationId": "toggleAlertStatus",
        "summary": "Toggle alert status",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "inactive"
                    ]
                  }
                },
                "required": [
                  "status"
                ]
              },
              "examples": {
                "activate": {
                  "summary": "Activate alert",
                  "value": {
                    "status": "active"
                  }
                },
                "deactivate": {
                  "summary": "Deactivate alert",
                  "value": {
                    "status": "inactive"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          }
        },
        "x-required-scope": "alerts:write"
      }
    },
    "/v0/boards": {
      "get": {
        "operationId": "listBoards",
        "summary": "List boards",
        "tags": [
          "Boards"
        ],
        "responses": {
          "200": {
            "description": "List of boards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Board"
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "brd_a1b2c3d4e5f6",
                      "project_id": "proj_abc123",
                      "title": "Revenue Dashboard",
                      "description": "Weekly revenue, conversion, and retention metrics.",
                      "enabled": false,
                      "created_at": "2026-03-04T11:22:08.000Z",
                      "updated_at": "2026-04-22T08:14:31.000Z"
                    },
                    {
                      "id": "brd_g7h8i9j0k1l2",
                      "project_id": "proj_abc123",
                      "title": "Marketing Funnel",
                      "description": "Acquisition channel performance.",
                      "enabled": true,
                      "created_at": "2026-02-18T16:09:44.000Z",
                      "updated_at": "2026-04-19T10:55:02.000Z"
                    }
                  ],
                  "meta": {
                    "total": 2,
                    "limit": 50,
                    "offset": 0
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "boards:read"
      },
      "post": {
        "operationId": "createBoard",
        "summary": "Create board",
        "description": "Create a new empty board.",
        "tags": [
          "Boards"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Board created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          }
        },
        "x-required-scope": "boards:write"
      }
    },
    "/v0/boards/{boardId}": {
      "get": {
        "operationId": "getBoard",
        "summary": "Get board",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Board details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                },
                "example": {
                  "id": "brd_a1b2c3d4e5f6",
                  "project_id": "proj_abc123",
                  "title": "Revenue Dashboard",
                  "description": "Weekly revenue, conversion, and retention metrics.",
                  "enabled": false,
                  "created_at": "2026-03-04T11:22:08.000Z",
                  "updated_at": "2026-04-22T08:14:31.000Z"
                }
              }
            }
          }
        },
        "x-required-scope": "boards:read"
      },
      "patch": {
        "operationId": "updateBoard",
        "summary": "Update board",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "isPublic": {
                    "type": "boolean",
                    "description": "Whether the board is publicly accessible"
                  }
                }
              },
              "examples": {
                "updateTitle": {
                  "summary": "Update board title",
                  "value": {
                    "title": "Weekly Dashboard"
                  }
                },
                "makePublic": {
                  "summary": "Make board publicly accessible",
                  "value": {
                    "isPublic": true
                  }
                },
                "fullUpdate": {
                  "summary": "Update all fields",
                  "value": {
                    "title": "Revenue Dashboard",
                    "description": "Weekly revenue metrics and KPIs",
                    "isPublic": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Board updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          }
        },
        "x-required-scope": "boards:write",
        "description": "Update board title, description, and/or public visibility."
      },
      "delete": {
        "operationId": "deleteBoard",
        "summary": "Delete board",
        "description": "Delete a board and all its charts.",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Board deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          }
        },
        "x-required-scope": "boards:write"
      }
    },
    "/v0/boards/{boardId}/charts": {
      "get": {
        "operationId": "listCharts",
        "summary": "List charts for a board",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charts with executed query results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "charts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Chart"
                      }
                    },
                    "board": {
                      "$ref": "#/components/schemas/Board"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "cht_x1y2z3a4b5c6",
                      "project_id": "proj_abc123",
                      "board_id": "brd_a1b2c3d4e5f6",
                      "chart_type": "line",
                      "title": "Daily revenue (last 30 days)",
                      "description": null,
                      "query": "SELECT toDate(timestamp) AS day, sum(revenue) AS revenue FROM events WHERE event = 'transaction' AND timestamp >= now() - INTERVAL 30 DAY GROUP BY day ORDER BY day",
                      "x_axis": "day",
                      "y_axis": [
                        "revenue"
                      ],
                      "group_by": null,
                      "steps": null,
                      "settings": null
                    }
                  ],
                  "meta": {
                    "total": 1,
                    "limit": 50,
                    "offset": 0
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "boards:read"
      },
      "post": {
        "operationId": "createChart",
        "summary": "Create chart",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChartRequest"
              },
              "examples": {
                "funnelBasic": {
                  "summary": "3-step closed funnel (7-day window)",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT 1",
                    "chart_type": "funnel",
                    "title": "Onboarding Funnel",
                    "steps": [
                      {
                        "type": "event",
                        "event": "page"
                      },
                      {
                        "type": "event",
                        "event": "connect"
                      },
                      {
                        "type": "event",
                        "event": "transaction"
                      }
                    ],
                    "settings": {
                      "funnelType": "closed",
                      "conversionWindow": {
                        "value": 7,
                        "unit": "day"
                      }
                    }
                  }
                },
                "funnelWithPropertyFilters": {
                  "summary": "Funnel with per-step property filters (MetaMask on mainnet)",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT 1",
                    "chart_type": "funnel",
                    "title": "MetaMask Conversion Funnel",
                    "steps": [
                      {
                        "type": "event",
                        "event": "page"
                      },
                      {
                        "type": "event",
                        "event": "connect",
                        "rdns": {
                          "op": "equals",
                          "value": "io.metamask"
                        },
                        "chain_id": {
                          "op": "equals",
                          "value": "1"
                        }
                      },
                      {
                        "type": "event",
                        "event": "transaction"
                      }
                    ],
                    "settings": {
                      "funnelType": "closed",
                      "conversionWindow": {
                        "value": 7,
                        "unit": "day"
                      }
                    }
                  }
                },
                "funnelWithBreakdown": {
                  "summary": "Funnel with device breakdown",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT 1",
                    "chart_type": "funnel",
                    "title": "Onboarding Funnel by Device",
                    "steps": [
                      {
                        "type": "event",
                        "event": "page"
                      },
                      {
                        "type": "event",
                        "event": "connect"
                      },
                      {
                        "type": "event",
                        "event": "signature"
                      }
                    ],
                    "settings": {
                      "funnelType": "closed",
                      "conversionWindow": {
                        "value": 30,
                        "unit": "day"
                      },
                      "breakdown": "device"
                    }
                  }
                },
                "funnelOpenMultiValue": {
                  "summary": "Open funnel with multi-value `in` filter and breakdown",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT 1",
                    "chart_type": "funnel",
                    "title": "Mobile Onboarding Funnel",
                    "steps": [
                      {
                        "type": "event",
                        "event": "page",
                        "device": {
                          "op": "equals",
                          "value": "mobile"
                        }
                      },
                      {
                        "type": "event",
                        "event": "connect",
                        "provider_name": {
                          "op": "in",
                          "value": "metamask|rainbow|coinbase"
                        }
                      },
                      {
                        "type": "event",
                        "event": "transaction"
                      }
                    ],
                    "settings": {
                      "funnelType": "open",
                      "conversionWindow": {
                        "value": 30,
                        "unit": "day"
                      },
                      "breakdown": "device"
                    }
                  }
                },
                "barChart": {
                  "summary": "Daily active users — bar chart",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT toDate(timestamp) AS date, countDistinct(address) AS users FROM events GROUP BY date ORDER BY date",
                    "chart_type": "bar",
                    "title": "Daily Active Users",
                    "x_axis": "date",
                    "y_axis": [
                      "users"
                    ]
                  }
                },
                "lineChart": {
                  "summary": "DAU last 30 days — line chart",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT toDate(timestamp) AS date, countDistinct(address) AS daily_active_users FROM events GROUP BY date ORDER BY date DESC LIMIT 30",
                    "chart_type": "line",
                    "title": "Daily Active Users",
                    "x_axis": "date",
                    "y_axis": [
                      "daily_active_users"
                    ]
                  }
                },
                "pieChart": {
                  "summary": "Sessions by device — pie chart",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT device, COUNT(*) AS session_count FROM sessions GROUP BY device ORDER BY session_count DESC LIMIT 10",
                    "chart_type": "pie",
                    "title": "Sessions by Device",
                    "x_axis": "device",
                    "y_axis": [
                      "session_count"
                    ]
                  }
                },
                "stackedChart": {
                  "summary": "Sessions by device grouped by browser — stacked chart",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT device, browser, COUNT(*) AS session_count FROM sessions GROUP BY device, browser ORDER BY session_count DESC",
                    "chart_type": "stacked",
                    "title": "Sessions by Device and Browser",
                    "x_axis": "device",
                    "y_axis": [
                      "session_count"
                    ],
                    "group_by": "browser"
                  }
                },
                "numberChart": {
                  "summary": "Total connected wallets — number / KPI card",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT COUNT(DISTINCT address) FROM events WHERE type = 'connect'",
                    "chart_type": "number",
                    "title": "Total Connected Wallets"
                  }
                },
                "tableChart": {
                  "summary": "Recent events — table",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT * FROM events ORDER BY timestamp DESC LIMIT 10",
                    "chart_type": "table",
                    "title": "Recent Events"
                  }
                },
                "userPathsChart": {
                  "summary": "User flow from connect — max 5 steps",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT anonymous_id, type AS event, timestamp FROM events WHERE timestamp >= today() - INTERVAL 30 DAY ORDER BY anonymous_id, timestamp",
                    "chart_type": "user_paths",
                    "title": "Post-Connect User Flow",
                    "settings": {
                      "startStep": {
                        "type": "event",
                        "event": "connect"
                      },
                      "endStep": {
                        "type": "event",
                        "event": "transaction"
                      },
                      "maxSteps": 5,
                      "conversionWindow": {
                        "value": 2,
                        "unit": "week"
                      }
                    }
                  }
                },
                "userPathsOpenEnded": {
                  "summary": "Open-ended user flow from page view",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "SELECT anonymous_id, type AS event, timestamp FROM events WHERE timestamp >= today() - INTERVAL 14 DAY ORDER BY anonymous_id, timestamp",
                    "chart_type": "user_paths",
                    "title": "User Discovery Paths",
                    "settings": {
                      "startStep": {
                        "type": "event",
                        "event": "page"
                      },
                      "maxSteps": 8,
                      "nodesPerStep": 10
                    }
                  }
                },
                "retentionFiltered": {
                  "summary": "Weekly retention — desktop users, transaction event",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "",
                    "chart_type": "retention",
                    "title": "Weekly Retention — Desktop",
                    "settings": {
                      "retentionFilter": {
                        "type": "event",
                        "event": "transaction"
                      },
                      "retentionUserFilters": [
                        {
                          "field": "device",
                          "op": "equals",
                          "value": "desktop"
                        }
                      ]
                    }
                  }
                },
                "retentionUnfiltered": {
                  "summary": "Overall retention (no filters)",
                  "value": {
                    "projectId": "proj_abc",
                    "query": "",
                    "chart_type": "retention",
                    "title": "Overall Retention"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chart created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Chart ID"
                }
              }
            }
          }
        },
        "x-required-scope": "boards:write"
      }
    },
    "/v0/boards/{boardId}/charts/{chartId}": {
      "get": {
        "operationId": "getChart",
        "summary": "Get chart",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chart"
                },
                "example": {
                  "id": "cht_x1y2z3a4b5c6",
                  "project_id": "proj_abc123",
                  "board_id": "brd_a1b2c3d4e5f6",
                  "chart_type": "line",
                  "title": "Daily revenue (last 30 days)",
                  "description": null,
                  "query": "SELECT toDate(timestamp) AS day, sum(revenue) AS revenue FROM events WHERE event = 'transaction' AND timestamp >= now() - INTERVAL 30 DAY GROUP BY day ORDER BY day",
                  "x_axis": "day",
                  "y_axis": [
                    "revenue"
                  ],
                  "group_by": null,
                  "steps": null,
                  "settings": null
                }
              }
            }
          }
        },
        "x-required-scope": "boards:read"
      },
      "put": {
        "operationId": "editChart",
        "summary": "Edit chart",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chart updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Chart ID"
                }
              }
            }
          }
        },
        "x-required-scope": "boards:write"
      },
      "delete": {
        "operationId": "deleteChart",
        "summary": "Delete chart",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart deleted"
          }
        },
        "x-required-scope": "boards:write"
      }
    },
    "/v0/contracts": {
      "get": {
        "operationId": "listContracts",
        "summary": "List contracts",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "200": {
            "description": "Contracts with deployment diff info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contracts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contract"
                      }
                    },
                    "deployAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "deployDiff": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "name": "USD Coin",
                      "chain": 1,
                      "address": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                      "start_block": 6082465,
                      "abi": "[{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"from\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"to\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"value\",\"type\":\"uint256\"}],\"name\":\"Transfer\",\"type\":\"event\"}]",
                      "events": [
                        {
                          "anonymous": false,
                          "name": "Transfer",
                          "type": "event",
                          "inputs": [
                            {
                              "indexed": true,
                              "name": "from",
                              "type": "address"
                            },
                            {
                              "indexed": true,
                              "name": "to",
                              "type": "address"
                            },
                            {
                              "indexed": false,
                              "name": "value",
                              "type": "uint256"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "name": "WETH (Base)",
                      "chain": 8453,
                      "address": "0x4200000000000000000000000000000000000006",
                      "start_block": 1,
                      "abi": "[{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"from\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"to\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"value\",\"type\":\"uint256\"}],\"name\":\"Transfer\",\"type\":\"event\"}]",
                      "events": [
                        {
                          "anonymous": false,
                          "name": "Transfer",
                          "type": "event",
                          "inputs": [
                            {
                              "indexed": true,
                              "name": "from",
                              "type": "address"
                            },
                            {
                              "indexed": true,
                              "name": "to",
                              "type": "address"
                            },
                            {
                              "indexed": false,
                              "name": "value",
                              "type": "uint256"
[...]
